@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@400;500&display=swap');
.img {
    width: 40vw;
    height: 65vh;
    margin-left: 8vw;
    background-image: url("https://thumbs.dreamstime.com/b/admin-office-binder-wooden-desk-table-colored-pencil-pencils-pen-notebook-paper-79046621.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 7vw;
}

html {    
    background: url('/img/background.gif') no-repeat center fixed;     
    background-size: cover;
}

body {
    overflow: hidden;
}

.Feadback {
    background-color: white;
    color: #000000;
    font-family: 'Merienda', 'Times New Roman', Times, serif;
    width: 40vw;
    margin: 4rem auto;
    border-radius: 2rem;
}

form h2 {
    margin: auto;
    padding-top: 15px;
    text-align: center;
    font-size: 2rem;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}

.email p {
    margin: 1vh;
    font-size: 32px;
}

input[type="text"], input[type="email"], input[type="int"] {
    margin: 2vh;
    height: 2vw;
    width: 20vw;
    padding: 1vh;
    font-size: 30px;
    border-radius: 1rem;
}

.button {
    margin: 1em;
    padding: 10px;
    background-color: #000000;
    width: 22vw;
    color: white;
    border: 1px;
    border-radius: 2em;
    font-size: 1.23rem;
    cursor: pointer;
}

.function {
    display: flex;
    justify-content: center;
}

#head {
    padding: 10px;
    width: 100vw !important;
    margin-top: -7px;
    text-align: left;
    margin-bottom: 10em;
}

#head img {
    -webkit-filter: invert(1);
   filter: invert(1);
   height: 10%;
   width: 10%;
}